@model Bulky.Models.Company

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Company</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="companyId" />
            <div class="form-group">
                <label asp-for="companyName" class="control-label"></label>
                <input asp-for="companyName" class="form-control" />
                <span asp-validation-for="companyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="companyStreetAddress" class="control-label"></label>
                <input asp-for="companyStreetAddress" class="form-control" />
                <span asp-validation-for="companyStreetAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="companyCity" class="control-label"></label>
                <input asp-for="companyCity" class="form-control" />
                <span asp-validation-for="companyCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="companyState" class="control-label"></label>
                <input asp-for="companyState" class="form-control" />
                <span asp-validation-for="companyState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="companyPostalCode" class="control-label"></label>
                <input asp-for="companyPostalCode" class="form-control" />
                <span asp-validation-for="companyPostalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="companyphoneNumber" class="control-label"></label>
                <input asp-for="companyphoneNumber" class="form-control" />
                <span asp-validation-for="companyphoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
